# ========================
# Dependencias
# ========================
node_modules/

# ========================
# Entornos y Secretos
# ========================
.env
.env.*
!.env.example

# ========================
# Builds y Logs
# ========================
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Sistema Operativo y Editores
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Obsidian / Kanvas
# ========================
.obsidian/

project_bible.md

# ========================
# Archivos Temporales
# ========================
batch.json
__pycache__/